body {
    background-image: url(../images/backpg.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: rgba(220, 35, 80, 0.7);
    font-family: 'Sora', sans-serif;
    color: white;
}

h1 {
    color: #55ff55;
    text-align: center;
    font-style: italic;
}

h2 {
    color: #558021;
    font-weight: normal;
    text-decoration: underline;
}

p {
    text-align: justify;
    font-size: 14px;
    line-height: 23px;
}


a {
    color: #cccccc;
}

a:hover {
    color: red;
}

.divcenter {
    text-align: center;
}

mark {
    background-color: #cccccc;
    color: #000055;
}

strong {
    text-decoration: overline underline;
    font-size: 1.2em;
}

em {
    font-style: oblique;
    font-size: 1.3em;
}

input:focus, textarea:focus {
    background-color: black;
    color: #cccccc;
}

.hobbiesimg{
    width: 300px; 
}
.hobbiesimg:hover{
    border-radius: 50%;

}

.container_b {
    display: inline-block;
    width: 300px;
    position: relative;
    top: -750px;
    
}

.container_c {
    display: inline-block;
    
}

header {
    border-bottom: solid 2px #cccccc;
    margin-bottom: 20px;
}

label {
    font-size: 1.2em;
    text-decoration: underline;
}

.linkdir {
    text-align: right;
    margin-bottom: 5px;
}
